{{ "<!-- ATTEND -->" | safeHTML }}
<section class="bg-secondary" id="attend">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Join Us</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-10 col-md-push-1">
                <p>This conference is aimed at developers, operators and users to discuss and evolve the open source software project, its functionality and real world operability. Part talks, part workshops, part hackathon, this event will present a great opportunity for attendees and sponsors alike.
                <br><br>
                The hackathon will have a significant focus on Continuous Integration, testing and working through questions around GitHub pull requests, however all participation is welcome!<br>
                <br>
                Montreal is active and beautiful at this time of year, so we recommend planning an extra day to take advantage of this amazing city. </p>
            </div>
        </div>
    </div>     
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary"></i>
                    <h3>News</h3>
                    <p class="text-muted">The latest Apache CloudStack features</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-wrench wow bounceIn text-primary"></i>
                    <h3>Hackathon</h3>
                    <p class="text-muted">Participate in hands-on workshops</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-cloud wow bounceIn text-primary"></i>
                    <h3>DevOps</h3>
                    <p class="text-muted">Learn best practices for cloud building</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-comments-o wow bounceIn text-primary"></i>
                    <h3>Talks</h3>
                    <p class="text-muted">Hear from users and the contributors</p>
                </div>
            </div>
        </div>
    </div>
</section>
