{{ "<!-- HEADER -->" | safeHTML }}
<header>
    <div class="header-content">
        <div class="header-content-inner">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <a href="http://ca.cloudstackcollab.org" target="_blank"><img src='img/cccca_white.png' style="max-width:350px;" /></a>
                    <p class="details">Sept 24-26, 2018</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-10 col-md-push-1 text-center">
                    <p style="color:white;font-size:120%">Upcoming CloudStack Collab Conferences (CCC)</p>
                    <p style="color:white;">The CCC events are an opportunity for the Apache CloudStack&reg; community to come together and share their work and experiences.</p>
                </div>
            </div>
        </div>
    </div>
</header>
