{{ "<!-- HEADER -->" | safeHTML }}
<header>
    <div class="header-content">
        <div class="header-content-inner">
            <div class="row">
                <!--<div class="col-xs-12 col-sm-4 text-center">
                    <a href="http://ca.cloudstackcollab.org" target="_blank"><img src='img/cccca_white.png' /></a>
                    <p class="details">June 1-3, 2016</p>
                </div>-->
                <div class="col-xs-10 col-xs-push-1 col-sm-3 col-sm-push-3 text-center">
                    <a href="http://us.cloudstackcollab.org" target="_blank"><img src='img/cccus_white.png' /></a>
                    <p class="details">May 16-18, 2017</p>
                </div>
                <div class="col-xs-10 col-xs-push-1 col-sm-3 col-sm-push-3 text-center">
                    <a href="#"><img src='img/cccbr_white.png' /></a>
                    <p class="details">Date To Be Determined</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-10 col-md-push-1 text-center">
                    <p style="color:white;font-size:120%">Upcoming CloudStack Collab Conferences (CCC)</p>
                    <p style="color:white;">The CCC events are an opertunity for the Apache CloudStack&reg; community to come together and share their work and experiences.</p>
                </div>
            </div>
        </div>
    </div>
</header>
