{{ "<!-- HEADER -->" | safeHTML }}
<header>
    <div class="header-content">
        <div class="header-content-inner">
            <div class="row">
                <div class="col-xs-12 col-sm-4 text-center">
                    <a href="http://ca.cloudstackcollab.org" target="_blank"><img src='img/cccca_white.png' /></a>
                    <p class="details">June 1-3, 2016</p>
                </div>
                <div class="col-xs-12 col-sm-4 text-center">
                    <a href="http://us.cloudstackcollab.org" target="_blank"><img src='img/cccus_white.png' /></a>
                    <p class="details">May 16-18, 2017</p>
                </div>
                <div class="col-xs-12 col-sm-4 text-center">
                    <a href="#"><img src='img/cccbr_white.png' /></a>
                    <p class="details">Date To Be Determined</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-10 col-md-push-1 text-center">
                    <p style="color:white;">Upcoming CloudStack Collab Conferences</p>
                </div>
            </div>
        </div>
    </div>
</header>
